.Button {
  border-radius: 4px;
  font-size: var(--bodyFontSize);
  font-weight: bold;
  color: white;
  border: none;
  padding: 17px 34px;
  height: 70px;
  cursor: pointer;
  margin-right: 43px;
  margin-top: 0px;
}
.Button--primary {
  background-color: var(--primary);
  transition-duration: 400ms;
}
.Button--primary:hover {
  background-color: var(--secondary);
}
@media screen and (max-width: 1000px) {
  .Button {
    padding: 10px 10px;
  }
}
@media screen and (max-width: 726px) {
  .Button {
    height: 70px;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
  }
}
