.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1576px;
  padding: 43px 0px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  max-width: 120px;

  border-radius: 1%;
  margin-top: 5px;
  margin-left: 43px;
}
.routs {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #7f8c8d;
  transition-duration: 400ms;
  padding: 0 40px;
}
a:hover {
  color: #222222;
}
.active {
  color: #222222;
}
@media screen and (max-width: 900px) {
  a {
    padding: 0 10px;
  }
  .logo {
    margin-left: 10px;
  }
}
@media screen and (max-width: 726px) {
  .Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .routs {
    padding-left: 0px;
  }
}
